<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://github.com/febrizip" target="_blank"
    >
      FebriZip
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://fb.com/febrizip.id" target="_blank"
    >
      Facebook
    </a>
  </p>
</footer>
